--
-- PostgreSQL database dump
--

\restrict BdTCRvBgKhepJde6gVK8JcSp1fQNHBdFyPGcNlf3K2Nhd9PxTtmzIzMdzd0QYeb

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: user
--

CREATE TYPE public.userrole AS ENUM (
    'ADMIN',
    'OFFICER',
    'VIEWER'
);


ALTER TYPE public.userrole OWNER TO "user";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bank_accounts; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.bank_accounts (
    id integer NOT NULL,
    order_number integer,
    document_number character varying,
    document_date date,
    bank_name character varying NOT NULL,
    account_number character varying NOT NULL,
    account_name character varying NOT NULL,
    victim_name character varying,
    case_id character varying,
    time_period character varying,
    delivery_date date,
    reply_status boolean,
    days_since_sent integer,
    notes text,
    status character varying,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    created_by integer,
    complainant character varying,
    criminal_case_id integer,
    document_date_thai character varying,
    bank_id integer
);


ALTER TABLE public.bank_accounts OWNER TO "user";

--
-- Name: bank_accounts_backup_20251001; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.bank_accounts_backup_20251001 (
    id integer,
    bank_branch character varying,
    bank_address text,
    soi character varying,
    moo character varying,
    road character varying,
    sub_district character varying,
    district character varying,
    province character varying,
    postal_code character varying
);


ALTER TABLE public.bank_accounts_backup_20251001 OWNER TO "user";

--
-- Name: bank_accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.bank_accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.bank_accounts_id_seq OWNER TO "user";

--
-- Name: bank_accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.bank_accounts_id_seq OWNED BY public.bank_accounts.id;


--
-- Name: banks; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.banks (
    id integer NOT NULL,
    bank_name character varying(255) NOT NULL,
    bank_address character varying(500),
    soi character varying(100),
    moo character varying(50),
    road character varying(100),
    sub_district character varying(100),
    district character varying(100),
    province character varying(100),
    postal_code character varying(10),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.banks OWNER TO "user";

--
-- Name: banks_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.banks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.banks_id_seq OWNER TO "user";

--
-- Name: banks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.banks_id_seq OWNED BY public.banks.id;


--
-- Name: courts; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.courts (
    id integer NOT NULL,
    court_name character varying(255) NOT NULL,
    court_type character varying(100),
    region character varying(100),
    province character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.courts OWNER TO "user";

--
-- Name: courts_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.courts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.courts_id_seq OWNER TO "user";

--
-- Name: courts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.courts_id_seq OWNED BY public.courts.id;


--
-- Name: criminal_cases; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.criminal_cases (
    id integer NOT NULL,
    case_number character varying NOT NULL,
    case_id character varying,
    status character varying,
    complainant character varying,
    victim_name character varying,
    suspect character varying,
    charge text,
    damage_amount character varying,
    case_scene text,
    complaint_date date,
    incident_date date,
    last_update_date date,
    court_name character varying,
    prosecutor_name character varying,
    prosecutor_file_number character varying,
    officer_in_charge character varying,
    investigating_officer character varying,
    bank_accounts_count integer,
    bank_accounts_replied integer,
    suspects_count integer,
    suspects_replied integer,
    age_in_months integer,
    is_over_six_months character varying,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    created_by integer,
    complaint_date_thai character varying,
    incident_date_thai character varying,
    case_type character varying
);


ALTER TABLE public.criminal_cases OWNER TO "user";

--
-- Name: COLUMN criminal_cases.court_name; Type: COMMENT; Schema: public; Owner: user
--

COMMENT ON COLUMN public.criminal_cases.court_name IS 'เน€เธเธ•เธญเธณเธเธฒเธเธจเธฒเธฅ - เธเธทเนเธญเธจเธฒเธฅเธ—เธตเนเธกเธตเน€เธเธ•เธญเธณเธเธฒเธเธเธ”เธต';


--
-- Name: criminal_cases_case_id_backup; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.criminal_cases_case_id_backup (
    id integer,
    case_number character varying,
    case_id character varying,
    created_at timestamp with time zone,
    backup_at timestamp with time zone
);


ALTER TABLE public.criminal_cases_case_id_backup OWNER TO "user";

--
-- Name: criminal_cases_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.criminal_cases_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.criminal_cases_id_seq OWNER TO "user";

--
-- Name: criminal_cases_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.criminal_cases_id_seq OWNED BY public.criminal_cases.id;


--
-- Name: post_arrests; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.post_arrests (
    id integer NOT NULL,
    case_number character varying,
    accuser_name character varying,
    crime_scene text,
    damage_amount character varying,
    suspect_name character varying NOT NULL,
    suspect_age integer,
    suspect_nationality character varying,
    suspect_address text,
    suspect_id_card character varying,
    suspect_occupation character varying,
    warrant_court character varying,
    warrant_number character varying,
    warrant_petition_date date,
    warrant_issue_date date,
    arrest_date date,
    arrest_time character varying,
    arresting_officer character varying,
    arresting_unit character varying,
    arrest_location character varying,
    warrant_revocation_doc character varying,
    custody_transfer_doc character varying,
    charges text,
    law_sections text,
    penalties text,
    circumstances text,
    evidence_items text,
    detention_period_1 character varying,
    detention_period_2 character varying,
    prosecutor_transfer_date date,
    prosecutor_doc_number character varying,
    prosecutor_name character varying,
    case_submission_date date,
    detention_request_date date,
    detention_request_doc character varying,
    court_name character varying,
    court_custody_transfer_date date,
    court_custody_location character varying,
    interrogation_completed boolean,
    interrogation_date date,
    bail_requested boolean,
    bail_amount character varying,
    bail_status character varying,
    status character varying,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    created_by integer,
    criminal_case_id integer
);


ALTER TABLE public.post_arrests OWNER TO "user";

--
-- Name: post_arrests_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.post_arrests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.post_arrests_id_seq OWNER TO "user";

--
-- Name: post_arrests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.post_arrests_id_seq OWNED BY public.post_arrests.id;


--
-- Name: suspects; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.suspects (
    id integer NOT NULL,
    document_number character varying,
    document_date date,
    suspect_name character varying NOT NULL,
    suspect_id_card character varying,
    suspect_address text,
    police_station character varying,
    police_province character varying,
    police_address text,
    victim_name character varying,
    case_type character varying,
    damage_amount character varying,
    case_id character varying,
    appointment_date date,
    appointment_date_thai character varying,
    status character varying,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    created_by integer,
    complainant character varying,
    criminal_case_id integer,
    reply_status boolean DEFAULT false,
    document_date_thai character varying
);


ALTER TABLE public.suspects OWNER TO "user";

--
-- Name: suspects_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.suspects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.suspects_id_seq OWNER TO "user";

--
-- Name: suspects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.suspects_id_seq OWNED BY public.suspects.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    full_name character varying,
    role public.userrole,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO "user";

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO "user";

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: bank_accounts id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.bank_accounts ALTER COLUMN id SET DEFAULT nextval('public.bank_accounts_id_seq'::regclass);


--
-- Name: banks id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.banks ALTER COLUMN id SET DEFAULT nextval('public.banks_id_seq'::regclass);


--
-- Name: courts id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.courts ALTER COLUMN id SET DEFAULT nextval('public.courts_id_seq'::regclass);


--
-- Name: criminal_cases id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.criminal_cases ALTER COLUMN id SET DEFAULT nextval('public.criminal_cases_id_seq'::regclass);


--
-- Name: post_arrests id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.post_arrests ALTER COLUMN id SET DEFAULT nextval('public.post_arrests_id_seq'::regclass);


--
-- Name: suspects id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.suspects ALTER COLUMN id SET DEFAULT nextval('public.suspects_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: bank_accounts; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: bank_accounts_backup_20251001; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: banks; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: courts; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: criminal_cases; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: criminal_cases_case_id_backup; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: post_arrests; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: suspects; Type: TABLE DATA; Schema: public; Owner: user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.users (id, username, email, hashed_password, full_name, role, is_active, created_at, updated_at) FROM stdin;
1	admin	admin@example.com	$2b$12$klE62kLFF5ampMCBPQCd3eIMINodTHghStkBOuGPAbnUbKkXp1p/O	Administrator	ADMIN	t	2025-09-30 08:49:19.398483+00	\N
\.


--
-- Name: bank_accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.bank_accounts_id_seq', 2529, true);


--
-- Name: banks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.banks_id_seq', 13, true);


--
-- Name: courts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.courts_id_seq', 266, true);


--
-- Name: criminal_cases_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.criminal_cases_id_seq', 287, true);


--
-- Name: post_arrests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.post_arrests_id_seq', 12, true);


--
-- Name: suspects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.suspects_id_seq', 90, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: bank_accounts bank_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.bank_accounts
    ADD CONSTRAINT bank_accounts_pkey PRIMARY KEY (id);


--
-- Name: banks banks_bank_name_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.banks
    ADD CONSTRAINT banks_bank_name_key UNIQUE (bank_name);


--
-- Name: banks banks_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.banks
    ADD CONSTRAINT banks_pkey PRIMARY KEY (id);


--
-- Name: courts courts_court_name_key; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.courts
    ADD CONSTRAINT courts_court_name_key UNIQUE (court_name);


--
-- Name: courts courts_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.courts
    ADD CONSTRAINT courts_pkey PRIMARY KEY (id);


--
-- Name: criminal_cases criminal_cases_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.criminal_cases
    ADD CONSTRAINT criminal_cases_pkey PRIMARY KEY (id);


--
-- Name: post_arrests post_arrests_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.post_arrests
    ADD CONSTRAINT post_arrests_pkey PRIMARY KEY (id);


--
-- Name: suspects suspects_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.suspects
    ADD CONSTRAINT suspects_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_bank_accounts_complainant; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_bank_accounts_complainant ON public.bank_accounts USING btree (complainant);


--
-- Name: idx_bank_accounts_criminal_case_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_bank_accounts_criminal_case_id ON public.bank_accounts USING btree (criminal_case_id);


--
-- Name: idx_bank_accounts_criminal_case_id_v2; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_bank_accounts_criminal_case_id_v2 ON public.bank_accounts USING btree (criminal_case_id) WHERE (criminal_case_id IS NOT NULL);


--
-- Name: idx_bank_accounts_reply_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_bank_accounts_reply_status ON public.bank_accounts USING btree (reply_status);


--
-- Name: idx_courts_court_name; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_courts_court_name ON public.courts USING btree (court_name);


--
-- Name: idx_courts_court_type; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_courts_court_type ON public.courts USING btree (court_type);


--
-- Name: idx_courts_region; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_courts_region ON public.courts USING btree (region);


--
-- Name: idx_criminal_cases_case_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_criminal_cases_case_id ON public.criminal_cases USING btree (case_id);


--
-- Name: idx_criminal_cases_complaint_date; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_criminal_cases_complaint_date ON public.criminal_cases USING btree (complaint_date);


--
-- Name: idx_criminal_cases_court_name; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_criminal_cases_court_name ON public.criminal_cases USING btree (court_name);


--
-- Name: idx_criminal_cases_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_criminal_cases_status ON public.criminal_cases USING btree (status);


--
-- Name: idx_suspects_complainant; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_suspects_complainant ON public.suspects USING btree (complainant);


--
-- Name: idx_suspects_criminal_case_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_suspects_criminal_case_id ON public.suspects USING btree (criminal_case_id);


--
-- Name: idx_suspects_criminal_case_id_v2; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_suspects_criminal_case_id_v2 ON public.suspects USING btree (criminal_case_id) WHERE (criminal_case_id IS NOT NULL);


--
-- Name: idx_suspects_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX idx_suspects_status ON public.suspects USING btree (status);


--
-- Name: ix_bank_accounts_case_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_bank_accounts_case_id ON public.bank_accounts USING btree (case_id);


--
-- Name: ix_bank_accounts_document_number; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_bank_accounts_document_number ON public.bank_accounts USING btree (document_number);


--
-- Name: ix_bank_accounts_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_bank_accounts_id ON public.bank_accounts USING btree (id);


--
-- Name: ix_criminal_cases_case_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_criminal_cases_case_id ON public.criminal_cases USING btree (case_id);


--
-- Name: ix_criminal_cases_case_number; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX ix_criminal_cases_case_number ON public.criminal_cases USING btree (case_number);


--
-- Name: ix_criminal_cases_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_criminal_cases_id ON public.criminal_cases USING btree (id);


--
-- Name: ix_post_arrests_case_number; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_post_arrests_case_number ON public.post_arrests USING btree (case_number);


--
-- Name: ix_post_arrests_criminal_case_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_post_arrests_criminal_case_id ON public.post_arrests USING btree (criminal_case_id);


--
-- Name: ix_post_arrests_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_post_arrests_id ON public.post_arrests USING btree (id);


--
-- Name: ix_suspects_case_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_suspects_case_id ON public.suspects USING btree (case_id);


--
-- Name: ix_suspects_document_number; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_suspects_document_number ON public.suspects USING btree (document_number);


--
-- Name: ix_suspects_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_suspects_id ON public.suspects USING btree (id);


--
-- Name: ix_suspects_reply_status; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_suspects_reply_status ON public.suspects USING btree (reply_status);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: user
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: bank_accounts bank_accounts_bank_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.bank_accounts
    ADD CONSTRAINT bank_accounts_bank_id_fkey FOREIGN KEY (bank_id) REFERENCES public.banks(id);


--
-- Name: bank_accounts fk_bank_accounts_criminal_case_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.bank_accounts
    ADD CONSTRAINT fk_bank_accounts_criminal_case_id FOREIGN KEY (criminal_case_id) REFERENCES public.criminal_cases(id) ON DELETE CASCADE;


--
-- Name: post_arrests fk_post_arrests_criminal_case_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.post_arrests
    ADD CONSTRAINT fk_post_arrests_criminal_case_id FOREIGN KEY (criminal_case_id) REFERENCES public.criminal_cases(id);


--
-- Name: suspects fk_suspects_criminal_case_id; Type: FK CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.suspects
    ADD CONSTRAINT fk_suspects_criminal_case_id FOREIGN KEY (criminal_case_id) REFERENCES public.criminal_cases(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict BdTCRvBgKhepJde6gVK8JcSp1fQNHBdFyPGcNlf3K2Nhd9PxTtmzIzMdzd0QYeb

